*{
    font-family: 'Times New Roman', Times, serif;
}
h1,h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    height: 200px;
    width: 300px;
}